<!DOCTYPE html>
<html>
	<head>
		<title> Amel Ghouila, PhD </title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">About</a></li>
	        	<li><a href="/Communities">Communities</a></li>
			<li><a href="/Publications">Publications</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Amel Ghouila, PhD </h1>
				<p> Launching soon! </p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:amel.ghouila@gmail.com">Email</a></li>
        		<li><a href="https://twitter.com/AmelGhouila"> Twitter</a></li>
			</ul>
		</footer>
	</body>
</html>

